<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Verify</title>
</head>

<body>
    <div class="container mt-4">
        <form>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp">
            </div>
            <button type="submit" class="btn btn-primary">Verify OTP</button>
        </form>
    </div>
    <%- include('./partials/scripts') %>
</body>

</html>